@font-face {
    font-family: 'Doc';
    src: url(Doctor\ Glitch.otf);
}
@font-face {
    font-family: 'Coma';
    src: url(Bad\ Coma.ttf);
}
header{
    font-family: Doc;
    text-align: center;
}
body{
    background-color: rgb(1, 1, 1);
}
section{
    font-family: Coma;
}
/*SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.sdthb://qvajnmfske.qilqxe.ty/c29lIAgzJXBu/SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.SSDVNQ.*/
